.landing-page {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  .header {
    background-color: #333;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  
  .header h1 {
    margin: 0;
  }
  
  .header nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
  
  
  .hero {
    background: linear-gradient(to right, #4caf50, #8bc34a);
    color: white;
    text-align: center;
    padding: 3rem 1rem;
  }
  .hero h2 {
    margin: 0;
    font-size: 2.5rem;
  }
  
  .hero p {
    font-size: 1.2rem;
    margin: 1rem 0;
  }
  
  .features {
    padding: 2rem 1rem;
    text-align: center;
    background-color: #2b2b2b ;
    color: white;
  }
  
  .features h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .feature-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .feature {
    max-width: 300px;
    margin: 1rem;
    text-align: left;
    background-color: #027148;
    padding: 20px;
    border-radius: 10px;
  }
  
  .cta {
    background-color: #4caf50;
    color: white;
    text-align: center;
    padding: 2rem 1rem;
  }
  
  .cta h3 {
    font-size: 2rem;
    margin: 0;
  }
  
  .cta p {
    font-size: 1.2rem;
  }
  
  .cta-button {
    background-color: white;
    color: #4caf50;
    text-decoration: none;
    padding: 0.8rem 1.5rem;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 1rem;
    display: inline-block;
  }
  
  .cta-button:hover {
    background-color: #8bc34a;
  }
  
  .footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
  }
  
  .footer p {
    margin: 0.5rem 0;
  }
  .footer ul{
    list-style-type: none;
  }